<div class="container">
  <div class="row margintop">
    <aside class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-body">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="stats">
            <%= render 'shared/stats' %>
          </section></div>
      </div>
    </aside>
    <div class="col-md-2">      <section class="newpick_form">
      <%= link_to "Publicar pick", new_pick_path, class: "btn btn-lg btn-filtro" %>
    </section><br>
      <%= link_to "Mis Picks", mispicks_path(id: current_user), class: "btn btn-lg btn-mispicks" %>
    </div>
    <div class="col-md-7"><%= image_tag "bannerejemplo.png", :size => 40%></div>
    </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading paneltitulo"><h3>Picks más faveados</h3></div>

          <ol class="picks">
            <%= render @favs %>
          </ol>
        </div></div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading paneltitulo"><h3>Últimos verdes</h3></div>

          <ol class="picks">
            <%= render @verdes %>
          </ol>
        </div><%= will_paginate @verdes, :param_name => 'verdes_page'  %></div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading paneltitulo"><h3>Todos los picks</h3></div>

          <ol class="picks">
            <%= render @picks %>
          </ol>
        </div><%= will_paginate @picks, :param_name => 'todos_page'  %></div>


    </div>
  </div>
  <div class="row">
    <div class="col-md-6">


    </div></div>
</div>