<div class="container margintop fondonegrotrans" style="text-align: center">
  <%= image_tag("logopremium.png",:width=>"766",:height=>"174" )%>
  <h3>Los tipsters con mayor experiencia y mejores números. </h3>
  <h3>¡Contrata sus servicios! En caso de quedar en negativo, siguiente mes gratis.</h3>
<div class="row paddeado">
  <table class="table tableblanco">
    <tr class="titulotabla">
      <th>Tipster</th>
      <th>Picks</th>
      <th>Yield</th>
      <th></th>

    </tr>
    <% if @ranks.any?%>
  <% @ranks.each do |rank| %>
            <%if ispro?(rank.user) %>
          <tr class="centertd">
            <td><%= link_to gravatar_for(rank.user, size: 50), rank.user %>
              <b><span class="user"><%=rank.user.name%></span></b></td>
            <td><%= pluralize(rank.user.picks.count, "pick") %></td>
            <td><b> <% if rank.yield>=0%>
                  <span style="color:#39c95c ; font-size: 18pt">+<%= rank.yield.round(2)%>%</span>
              <%else %>
                  <span style="color:#c93b36"><%= rank.yield.round(2)%>%</span>
              <%end%></b></td>
            <td><%= link_to "Contratar", relationships_path(:followed_id => rank.user.id), method: :post, class: "btn btn-default btn-lg network-name"  %></td>
          </tr>
            <% end %>
  <% end %>
    <% end %>
      </table>
</div></div>