<% provide(:title, 'Sign up') %>
<br><br><br><br>

<div class="row">
  <div class="col-md-4 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>Regístrate</h1><br><br>

    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object  %>

        <%= f.label :name, "Nombre de Usuario" %>
        <%= f.text_field :name,required: true  %>

        <%= f.label :email %>
        <%= f.email_field :email,required: true  %>

        <%= f.label :password , "Contraseña"%>
        <%= f.password_field :password,required: true  %>

        <%= f.label :password_confirmation, "Repite contraseña" %>
        <%= f.password_field :password_confirmation,required: true  %>

        <%= f.submit "Crear cuenta", class: "btn btn-primary" %>
    <% end %></div></div>
  </div>
</div>