<% @user ||= current_user %>
<div class="useerstats">
  Apuestas realizadas:<br><b> <%= @user.stats.first.totalpicks %></b><br>
  Acertadas: <b><span style="color:#39c95c"><%= @user.stats.first.acertadas%></span></b>
  Falladas: <b><span style="color:#c93b36"><%= @user.stats.first.falladas%></span></b>
  Anuladas: <b><span style="color:#5064c9"><%= @user.stats.first.anuladas%></span></b>
  Cuota media:<br><b> @<%= @user.stats.first.cuotaavg.round(2)%></b><br>
  Beneficio: <br><b><% if @user.stats.first.profit>=0%>
      <span style="color:#39c95c">+<%= @user.stats.first.profit%> uds.</span>
       <%else %>
      <span style="color:#c93b36"><%= @user.stats.first.profit%> uds.</span>
    <%end%></b>
  Yield:<br><b> <% if @user.stats.first.yield>=0%>
      <span style="color:#39c95c">+<%= @user.stats.first.yield%>%</span>
  <%else %>
      <span style="color:#c93b36"><%= @user.stats.first.yield.round(2)%>%</span>
  <%end%></b><br>

</div>