<div class="fondooscuro">
<br><br><br><br>
  <div class="bannerranking" style="text-align:center">
    <%= image_tag "rankingbanner.png", :alt => "share", :title => "share",:width=>"300",:height=>"132" %>
  </div>
  <div class="titulorank" style="text-align:center">
    <hr class="intro-divider">
    <h1>Los mejores de <%= l(Time.now, format: :mesano)%></h1>
    <hr class="intro-divider">
  </div>
<div class="row" style="text-align:center">
  <div class="col-md-1"></div>
  <div class="col-md-2"><span class="puestos">1º</span></div>
  <div class="col-md-2"><span class="puestosseg">2º</span></div>
  <div class="col-md-2"><span class="puestosseg">3º</span></div>
  <div class="col-md-2"><span class="puestos">4º</span></div>
  <div class="col-md-2"><span class="puestos">5º</span></div>
  <div class="col-md-1"></div>
  </div>
  <div class="row">
  <div class="col-md-1"></div>
    <% if @ranks.any?%>
  <% @ranks.each do |rank| %>

      <div class="col-md-2"><div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div class="panel-body"><%= link_to gravatar_for(rank.user, size: 50), rank.user %>
        <span class="user"><%= link_to rank.user.name, rank.user %></span><br><br><br><div class="useerstats">
          <b> <% if rank.yield>=0%>
              <span style="color:#39c95c ; font-size: 18pt">+<%= rank.yield.round(2)%>%</span> yield
          <%else %>
              <span style="color:#c93b36"><%= rank.yield.round(2)%>%</span>
          <%end%></b><br>
          Total:<b> <%= rank.totalpicks %></b> picks<br>
          Acertadas: <b><span style="color:#39c95c"><%= rank.acertadas%></span></b><br>
          Falladas: <b><span style="color:#c93b36"><%= rank.falladas%></span></b><br>
          Anuladas: <b><span style="color:#5064c9"><%= rank.anuladas%></span></b><br>
          Cuota media:<b> @<%= rank.cuotaavg.round(2)%></b><br>
          Beneficio: <b><% if rank.profit>=0%>
              <span style="color:#39c95c">+<%= rank.profit%> uds.</span>
          <%else %>
              <span style="color:#c93b36"><%= rank.profit%> uds.</span>
          <%end%></b>


        </div></div>
          </div></div>

      <% end %>
    <% end %>
</div><br><br><br>
  <div class="titulorank" style="text-align:center">
    <hr class="intro-divider">
    <h1>Resultados de <%= l(Time.now - 1.month, format: :mesano)%></h1>
    <hr class="intro-divider">
  </div>
  <div class="row" style="text-align:center">
    <div class="col-md-1"></div>
    <div class="col-md-2"><span class="puestos">1º</span></div>
    <div class="col-md-2"><span class="puestosseg">2º</span></div>
    <div class="col-md-2"><span class="puestosseg">3º</span></div>
    <div class="col-md-2"><span class="puestos">4º</span></div>
    <div class="col-md-2"><span class="puestos">5º</span></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <% @pasado.each do |rank| %>

        <div class="col-md-2"><div class="panel panel-default">
          <div class="panel-heading">

          </div>
          <div class="panel-body"><%= link_to gravatar_for(rank.user, size: 50), rank.user %>
            <span class="user"><%= link_to rank.user.name, rank.user %></span><br><br><br><div class="useerstats">
            <b> <% if rank.yield>=0%>
                  <span style="color:#39c95c ; font-size: 18pt">+<%= rank.yield.round(2)%>%</span> yield
              <%else %>
                  <span style="color:#c93b36"><%= rank.yield.round(2)%>%</span>
              <%end%></b><br>
            Total:<b> <%= rank.totalpicks %></b> picks<br>
            Acertadas: <b><span style="color:#39c95c"><%= rank.acertadas%></span></b><br>
            Falladas: <b><span style="color:#c93b36"><%= rank.falladas%></span></b><br>
            Anuladas: <b><span style="color:#5064c9"><%= rank.anuladas%></span></b><br>
            Cuota media:<b> @<%= rank.cuotaavg.round(2)%></b><br>
            Beneficio: <b><% if rank.profit>=0%>
                <span style="color:#39c95c">+<%= rank.profit%> uds.</span>
            <%else %>
                <span style="color:#c93b36"><%= rank.profit%> uds.</span>
            <%end%></b>


          </div></div>
        </div></div>
    <% end %>
  </div>
</div>