<%= bootstrap_form_for(@pick) do |f| %>
 
  <% if @pick.errors.any? %>

    <div id="error_explanation">
      <h2>
        <%= pluralize(@pick.errors.count, "error") %> prohibited
        this pick from being saved:
      </h2>
      <ul>
        <% @pick.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   <br>
    <%= f.text_field :evento, placeholder: "Ej: Chelsea - Arsenal",required: true  %>
    <%= f.text_area :pronostico, placeholder: "Ej: Gana Chelsea / + de 2.5 goles" ,required: true   %>
    <%= f.number_field :cuota, step: 'any', max: 5001, min: 1.01,placeholder: "Ej: 2.25" ,required: true  %>
    <%= f.select :deporte, options_for_select(["futbol", "tenis", "baloncesto", "F1","balonmano","ciclismo",
                                                      "atletismo","voleibol","motociclismo","galgos"])%>
    <%= f.text_field :categoria, placeholder: "Ej: Premier League",required: true   %>
    <%= f.number_field :stake, step: 'any',min:1, max:10, placeholder: "Ej: 5 (min=1, max=10)",required: true   %>
    <%= f.select :bookie, options_for_select(["Bet365", "Bwin", "Sportium", "WilliamHill"])%>
    <%= f.datetime_select :pickdate, label: "Fecha pick", start_year: 2015, end_year: 2015%>
    <%= f.text_area :explicacion, label: "Análisis (opcional) ", placeholder: "(Máximo 200 palabras) ", maxlenght: "1000"%>



    <p>
    <%= f.submit "Publicar", :class => "btn btn-success" %>
  </p>
 
<% end %>