<li class="marginleftpick" id="pick-<%= pick.id %>">
  <%= link_to gravatar_for(pick.user, size: 50), pick.user %>
  <span class="user"><%= link_to pick.user.name, pick.user %></span>
  <div class="row">
    <div class="col-md-5">
      <%#<%= l(pick.pickdate, format: :long)%>
      <span class="content"><b><%= pick.evento %></b><br> (<%= pick.categoria %>)<br>

        <br><%= pick.pronostico %><br>Cuota: @<%= pick.cuota %>
     | STK: <%= pick.stake %>  </span>
    </div>
    <div class="col-md-3" >    <%= image_tag ""+pick.deporte.to_s+".png", :alt => "share", :title => "share" , :size=> "20"%><br><br>
      <% if pick.pickdate.presence %><% if pick.pickdate <= Time.now %>
              Empezó hace:<br> <%= distance_of_time_in_words_to_now(pick.pickdate) %>
          <% else %>Empieza en:<br> <%= distance_of_time_in_words_to_now(pick.pickdate) %>
          <% end%>
      <% end%>
    </div>
    <div class="col-md-2">
      <div id="tick_<%= pick.id %>" class="muestra">
      <% if ownpick?(pick) %>
            <% if pick.status!='ticked' %>
            Tickar:<br>
            <%= link_to "Verde", tick_pick_path(:id => pick.id, :result => "ok" ), remote: true, class: "btn btn-verde tickandoverde",
                        data: { confirm: "Una vez tickado no se puede modificar, ¿Estás seguro?" }%>
            <%= link_to "Rojo", tick_pick_path(:id => pick.id, :result => "fail" ), remote: true, class: "btn btn-rojo tickandorojo",
                        data: { confirm: "Una vez tickado no se puede modificar, ¿Estás seguro?" }%>
            <%= link_to "Anulada", tick_pick_path(:id => pick.id, :result => "nula" ), remote: true, class: "btn btn-azul tickandoazul",
                        data: { confirm: "Una vez tickado no se puede modificar, ¿Estás seguro?" }%>


          <% elsif pick.status=='ticked' && pick.result=='nula' %> <span style='color:#5064c9'><b>Anulada</b></span>
          <% elsif pick.status=='ticked' && pick.result=='fail' %> <span style='color:#c93b36'><b>Fallada</b></span>
          <% elsif pick.status=='ticked' && pick.result=='ok' %> <span style='color:#39c95c'><b>Acertada</b></span>
                <%else%> <%= pick.result %> <%= pick.status %>
          <% end %>

                <br>

      <% end %></div></div>
  </div>
  <div class="row">


    <div class="col-md-5">
      <span class="timestamp"><span class="glyphicon glyphicon-time"></span> Hace <%= time_ago_in_words(pick.created_at) %>. </span>
  </div>
  <div class="col-md-2">
    <%= image_tag "share-icon.png", :alt => "share", :title => "share" , :size=> "16"%> Twittear

  </div>
    <div class="col-md-3"><% if isOnTime(pick)%>
          <%= link_to "Eliminar pick", pick, method: :delete, class: "btn btn-danger",
                              data: { confirm: "Estás seguro de borrar el pick?" } %>
      <% end %></div>
  </div>

</li>