<li class="marginleftpick" id="pick-<%= pick.id %>">
  <%= link_to gravatar_for(pick.user, size: 50), pick.user %>
  <span class="user"><%= link_to pick.user.name, pick.user %></span>
  <% if pick.user.pro == 1%>
  <%= image_tag "pro.png", :alt => "share", :title => "share" , :width=>"20",:height=>"13" %>
      <% end %>
  <div class="row">
    <div class="col-md-5">
      <%#<%= l(pick.pickdate, format: :long)%><b><%= pick.pronostico %></b><br>Cuota: <b>@<%= pick.cuota %></b>
      | STK: <%= pick.stake %><hr class="pequeno">
      En: <%= pick.evento %><br> (<%= pick.categoria %>)<br>


    </div>
    <div class="col-md-3" >    <%= image_tag ""+pick.deporte.to_s+".png", :alt => "share", :title => "share" , :size=> "20"%><br><br>
      <% if pick.pickdate.presence %><% if pick.pickdate <= Time.now-120*60 %> Finalizado.
              <% elsif pick.pickdate <= Time.now %>
              Empezó hace:<br> <%= distance_of_time_in_words_to_now(pick.pickdate) %>
          <% else %>Empieza en:<br> <%= distance_of_time_in_words_to_now(pick.pickdate) %>
          <% end%>
      <% end%>
    </div>
    <div class="col-md-2">
      <div id="tick_<%= pick.id %>" class="muestra">
      <% if ownpick?(pick) %>
            <% if pick.status!='ticked' %>
            Tickar:<br>
            <%= link_to "Verde", tick_pick_path(:id => pick.id, :result => "ok" ), remote: true, class: "btn btn-verde tickandoverde",
                        data: { confirm: "Una vez tickado no se puede modificar, ¿Estás seguro?" }%>
            <%= link_to "Rojo", tick_pick_path(:id => pick.id, :result => "fail" ), remote: true, class: "btn btn-rojo tickandorojo",
                        data: { confirm: "Una vez tickado no se puede modificar, ¿Estás seguro?" }%>
            <%= link_to "Anulada", tick_pick_path(:id => pick.id, :result => "nula" ), remote: true, class: "btn btn-azul tickandoazul",
                        data: { confirm: "Una vez tickado no se puede modificar, ¿Estás seguro?" }%>

                <%= content_tag :div, class: "pick_info", data: {stake: pick.stake, cuota: pick.cuota} do %>
                <% end %>

          <% elsif pick.status=='ticked' && pick.result=='nula' %> <span style='color:#5064c9'><b>Anulada</b></span>
          <% elsif pick.status=='ticked' && pick.result=='fail' %> <span style='color:#c93b36'><b>Fallada</b><br>-<%=pick.stake%> uds.</span>
          <% elsif pick.status=='ticked' && pick.result=='ok' %> <span style='color:#39c95c'><b>Acertada</b><br>+<%=(pick.stake*pick.cuota-pick.stake).round(2)%> uds.</span>
                <%else%> <%= pick.result %> <%= pick.status %>
          <% end %>

                <br>

      <% end %></div></div>
  </div>
  <div class="row">


    <div class="col-md-5">
      <span class="timestamp"><span class="glyphicon glyphicon-time"></span> Hace <%= time_ago_in_words(pick.created_at) %>. </span>
  </div>
  <div class="col-md-2">
    <% if pick.favedby?(current_user) %>
        <%= link_to image_tag("favorited.png",:width=>"20",:height=>"20" ), unfav_pick_path(:id => pick.id),remote: true, class: "unfav"%>
    <% else %>
    <%= link_to image_tag("favorites.png",:width=>"20",:height=>"20" ), fav_pick_path(:id => pick.id),remote: true, class: "fav"%>
    <% end %>
  </div>
    <div class="col-md-3"><% if isOnTime(pick)%>
          <%= link_to "Eliminar pick", pick, method: :delete, class: "btn btn-danger",
                              data: { confirm: "Estás seguro de borrar el pick?" } %>
      <% end %></div>
  </div>

</li>