<li id="pick-<%= pick.id %>">
  <%= link_to gravatar_for(pick.user, size: 50), pick.user %>
  <span class="user"><%= link_to pick.user.name, pick.user %></span>
  <span class="content"><%= pick.evento %> (<%= pick.categoria %> ~<%= pick.deporte %>)<br><%= pick.pronostico %><br>Cuota:<%= pick.cuota %>
    ~ Stake:<%= pick.stake %>  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(pick.created_at) %> ago.
  </span>
  <span class="buttons">
    <% if ownpick?(pick) %>
         <div id="tick_<%= pick.id %>" class="muestra">PRUEBA
    <%= link_to "Verdear", tick_pick_path(:id => pick.id ), remote: true, class: "ticktick"%>
         </div>
        <% if pick.result=='ok' %>
            OK OK OK
        <% end %>

        | <%= link_to "Eliminar pick", pick, method: :delete, class: "btn btn-danger",
                      data: { confirm: "Estás seguro de borrar el pick?" } %>
    <% end %>

  </span>
</li>