<li class="marginleftpick" id="pick-<%= pick.id %>">
  <%= link_to gravatar_for(pick.user, size: 50), pick.user %>
  <span class="user"><%= link_to pick.user.name, pick.user %></span>
  <% if pick.user.pro == 1%>
  <%= image_tag "pro.png", :alt => "share", :title => "share" , :width=>"20",:height=>"13" %>
      <% end %>
  <div class="row">
    <div class="col-md-5">
      <%#<%= l(pick.pickdate, format: :long)%><b><%= pick.pronostico %></b><hr class="pequeno">
      <%= image_tag ""+pick.deporte.to_s+".png", :size=> "20"%> <%= pick.evento %> <br>(<%= pick.categoria %>)<br>
      <%= l(pick.pickdate, format: :shortcustom)%>



        <%if pick.explicacion.presence %>

          <div class="explicacion">
            <div class="linkexplicacion"><%= link_to "Mostrar explicación", mostrarexplicacion_path, remote: true, class: "mostrarexplicacion" %></div>
        <%= content_tag :div, class: "pick_text", data: {text: pick.explicacion} do %>
        <% end %>
            <div class="texto"></div>
          </div>
      <%end%>


          </div>
    <div class="col-md-2 panel panel-cuota" >
      <div class="cuota "><span style="font-size: 15px">@</span><%= pick.cuota %></div>
      <div class="stake">STK <%= pick.stake %></div>
      <div><%= image_tag ""+pick.bookie.to_s+".png", :weight => "32", :height => "16"%></div>
    </div>
    <div class="col-md-3">
      <div id="tick_<%= pick.id %>" class="muestra" style="margin-left: 45px;">
      <% if ownpick?(pick) %>
            <% if pick.status!='ticked' %>
            Tickar:<br>
            <%= link_to "Acertada", tick_pick_path(:id => pick.id, :result => "ok" ), remote: true, class: "btn btn-verde tickandoverde",
                        data: { confirm: "Una vez tickado no se puede modificar, ¿Estás seguro?" }%><br>
            <%= link_to "Fallada", tick_pick_path(:id => pick.id, :result => "fail" ), remote: true, class: "btn btn-rojo tickandorojo",
                        data: { confirm: "Una vez tickado no se puede modificar, ¿Estás seguro?" }%><br>
            <%= link_to "Anulada", tick_pick_path(:id => pick.id, :result => "nula" ), remote: true, class: "btn btn-azul tickandoazul",
                        data: { confirm: "Una vez tickado no se puede modificar, ¿Estás seguro?" }%>

                <%= content_tag :div, class: "pick_info", data: {stake: pick.stake, cuota: pick.cuota} do %>
                <% end %>

          <% elsif pick.status=='ticked' && pick.result=='nula' %> <span style='color:#5064c9'><b>Anulada</b></span>
          <% elsif pick.status=='ticked' && pick.result=='fail' %> <span style='color:#c93b36'><b>Fallada</b><br>-<%=pick.stake%> uds.</span>
          <% elsif pick.status=='ticked' && pick.result=='ok' %> <span style='color:#39c95c'><b>Acertada</b><br>+<%=(pick.stake*pick.cuota-pick.stake).round(2)%> uds.</span>
                <%else%> <%= pick.result %> <%= pick.status %>
          <% end %>

                <br>

      <% end %></div></div>
  </div>
  <div class="row showhideparent">


    <div class="col-md-5">
      <span class="timestamp"><span class="glyphicon glyphicon-time"></span> Hace <%= time_ago_in_words(pick.created_at) %>. </span>
  </div>
  <div class="col-md-2">
    <% if pick.favedby?(current_user) %>
        <%= link_to image_tag("favorited.png",:width=>"20",:height=>"20" ), unfav_pick_path(:id => pick.id),remote: true, class: "unfav"%>
    <% else %>
    <%= link_to image_tag("favorites.png",:width=>"20",:height=>"20" ), fav_pick_path(:id => pick.id),remote: true, class: "fav"%>
    <% end %>
  </div>
    <div class="col-md-3 nowrap showhide" >
      <% if isOnTime(pick) || admin?%>
          <%= link_to "Eliminar pick", pick, method: :delete, class: "btn btn-danger",
                              data: { confirm: "Estás seguro de borrar el pick?" } %>
      <% end %>
      <%= link_to "Reportar #{image_tag("report.png",:size=>"20" )}".html_safe, report_path(:id => pick.id), method: :post, class: "reporting",
                  data: { confirm: "¿Estás seguro de reportar el pick?
                  Algunas de las razones para reportar son cuota falseada, resultado falseado, evento inexistente, etc..." }%></div>
  </div>

</li>

<script>

</script>