<p>
  <strong>Evento:</strong>
  <%= @pick.evento %>
</p>
 
<p>
  <strong>Pronostico:</strong>
  <%= @pick.pronostico %>
</p>

<p>
  <strong>Cuota:</strong>
  <%= @pick.cuota %>
</p>

<p>
  <strong>Deporte:</strong>
  <%= @pick.deporte %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @pick.categoria %>
</p>

<p>
  <strong>Stake:</strong>
  <%= @pick.stake %>
</p>
<%= link_to 'Back', picks_path %>