<header class="navbar navbar-fixed-top navbar-inverse navbara">
<div class="container">


  <nav>
    <%= link_to image_tag("logo3.png",:width=>"150",:height=>"66" ), root_path%>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
          <li><%= link_to "Inicio", indexhome_path %></li>
          <li><%= link_to "Mi Timeline", root_path %></li>
          <li><%= link_to "Picks PRO", '#' %></li>
          <li><%= link_to "Rankings", ranking_path %></li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Mis Picks", mispicks_path(id: current_user) %></li>
              <li><%= link_to "Editar", edit_user_path(current_user) %></li>

              <li><%= link_to "Configuración", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
      <% else %>

      <% end %>
    </ul>
  </nav>
</div>
</header>